* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.skewed {
  position: absolute;
  left: 0;
  width: 100%;

  background: #235789;
  z-index: 30;
  transform: skewY(-5deg);
  transform-origin: top left;
  overflow: clip;
}
@font-face {
  font-family: "roboto-medium";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "fira-sans-bold";
  src: url("../fonts/FiraSans-Bold.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-display: swap;
}
.roboto-light {
  font-family: "roboto-light";
}
.roboto-bold {
  font-family: "roboto-bold";
}
.roboto-medium {
  font-family: "roboto-medium";
}
.roboto {
  font-family: "roboto";
}
.fira-sans-bold {
  font-family: "fira-sans-bold";
}
#instagramIcon {
  width: 50px;
  height: 50px;
  font-size: 3.5rem;
  color: #235789;
  transition: 150ms ease-in-out;
}
#instagramIcon:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.st1 {
  height: 1px;
}
#box1:hover,
#box2:hover,
#box3:hover,
#box4:hover {
  scale: 1.1;
}
.lds-facebook,
.ls-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ls-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: white;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #235789;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1),
.ls-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2),
.ls-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3),
.ls-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.flip-card {
  background-color: transparent;
  margin-inline: auto;
  width: 70%;
  height: 150px;
  transform: translateY(-50%);
  perspective: 1000px;
}
#parallax-container {
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: hard-light;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#air-fan-box:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card2 {
  background-color: transparent;
  margin-inline: auto;
  width: 70%;
  height: 150px;
  transform: translateY(-50%);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  z-index: 30;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#conditioner-box:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front2,
.flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front2 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the back side */
.flip-card-back2 {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card3 {
  background-color: transparent;
  margin-inline: auto;
  width: 184px;
  height: 120px;
  transform: translateY(-50%);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  z-index: 30;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#air-save-box:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front3,
.flip-card-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front3 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the back side */
.flip-card-back3 {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel {
  z-index: -10;
}
#contact-form label {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 8px;
  color: #235789;
  font-family: "roboto-medium";
}
#contact-form label input,
textarea,
select {
  font-family: sans-serif;
  font-weight: 100;
  color: black;
  font-size: 16px;
  border-radius: 0.25rem;
  background-color: #e8e8e8;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 5px;
  outline: none;
  transition: 0.3s ease;
}
#contact-form label input:invalid::placeholder,
textarea:invalid::placeholder,
select:invalid::placeholder {
  color: red;
}
option:first-of-type {
  color: gray;
}
.error {
  color: red !important;
  font-size: 14px !important;
  font-weight: 200 !important ;
  color: red;
}
.error:focus {
  color: red;
  border-color: red !important;
  font-size: 14px !important;
  color: red;
}
.error_effect {
  border-color: red !important;
  font-size: 14px !important;
  color: red;
}
#notification-bell:hover {
  animation: ringBell infinite 0.8s;
}
@keyframes ringBell {
  0% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(25deg);
  }
  40%,
  80% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLarge {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#error-image {
  animation: slideIn 0.5s ease-out; /* Adjust the duration and easing as needed */
}
#sort-helper-button {
  animation: slideInLarge 0.5s ease-out; /* Adjust the duration and easing as needed */
}
#sidebar {
  width: 20%;
}

@media only screen and (max-width: 828px) {
  #sidebar {
    width: 0%;
  }
}
#content {
  width: 80%;
}

@media only screen and (max-width: 828px) {
  #content {
    width: 100%;
  }
}
